/* public/styles.css */
body {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.number {
  font-size: 4em;
  text-align: center;
  width: 50%;
}

